	*{margin:0;padding:0;}
	div{border:2px; border-style:transparent; border-color:yellow;}
	
	#header{
	width:100%;
	height:40px;
	background:#b30429;
	}
	#header_info{
	width:960px;
	margin:0 auto;
	height:40px;
	}
	#address{
	padding-top:10px;
	float:left;
	}
	#call{
	padding-top:10px;
	padding-left:30px;
	}
	#msg{
	padding-top:10px;
	padding-left:40px;
	}
	#header_info span{
	font-size:12px;
	color:#fff;
	font-family:verdana,geneva,sans-serif;
	line-height:40px;
	}
	#icons{
	float:right;
	overflow:hidden;
	width:250px;
	height:37px;
	}
	.image-holder{
	float:right;
	margin:5 0 5 5;
	}
	#banner{
	position:relative;
	width:100%;
	height:724px;
	}
	.logo{
		position:absolute;
		top:-15px;
		left:150px;
		width:20%;
		height:20%;
	}
	#spoon{
		position:absolute;
		top:30px;
		left:330px;
	}
	#fade{
	z-index:-1;
	}
	#menu_bar{
		position:absolute;
		width:753px;
		height:40px;
		top:40px;
		right:81px;
	}
	#menu_bar ul li{
		display:inline;
		margin-right:30px;
	}
	#menu_bar ul li a{
		text-decoration:none;
		font-size:16px;
		color:#fff;
		font-family:verdana,geneva,sans-serif;
		padding:10px;
		border-radius:5px;
	}
	#menu_bar ul li a:hover{
		background:#b30429;
	}
	#para1{
		position:absolute;
		color:#fff;
		top:70%;
		left:20%;
		font-size:30px;
		font-family:verdana,sans-serif;
	}
	#para2{
		position:absolute;
		color:#fff;
		top:77%;
		left:40%;
		font-size:24px;
		font-family:verdana,geneva,sans-serif;
	}
	.book{
		position:absolute;
		text-decoration:none;
		top:85%;
		left:45%;
		color:#fff;
		background:#b30429;
		padding:10px;
		border-radius:5px;
	}
	#body1{
		width:960px;
		height:370px;
		background:#fff;
		margin:0 auto;
	}
	#b1{
		width:35%;
		height:370px;
		margin:0 auto;
		float:left;
	}
	#b1 h2{
		font-size:30px;
		font-family:verdana,geneva,sans-serif;
		padding-top:30px;
		padding-left:0px;
	}
	#para3{
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
		padding-top:5px;
		padding-left:0px;
	}
	.pink_line{
		width:68px;
		height:5px;
		background:#b30429;
		margin-top:20px;
		margin-left:0px;
	}
	#para4{
		font-size:14px;
		font-family:verdana,geneva,sans-serif;
		padding-top:40px;
		padding-left:0px;
		text-align:justify;
	}
	#b2{
		width:60%;
		height:370px;
		float:right;
	}
	#b2 img{
		padding-top:30px;
	}
	#body2{
		position:relative;
		width:100%;
		heigth:680px;
	}
	#b3{
		width:960px;
		height:680px;
		position:absolute;
		top:0;
		left:200px;
	}
	#b3 h2{
		
		position:absolute;
		font-size:45px;
		font-family:verdana,geneva,sans-serif;
		color:#fff;
		top:67px;
		left:300px;
	}
	#client{
		position:absolute;
		top:175px;
		left:28px;
	}
	#dishes{
		position:absolute;
		top:190px;
		left:340px;
	}
	#awards{
		position:absolute;
		top:190px;
		left:704px;
	}
	.a{
		position:absolute;
		font-size:35px;
		font-family:verdana,geneva,sans-serif;
		color:#fff;
		top:210px;
	}
	.b{
		position:absolute;
		font-size:22px;
		font-family:verdana,geneva,sans-serif;
		color:#fff;
		top:250px;
	}
	#staff{
		position:absolute;
		top:420px;
		left:24px;
	}
	#consistency{
		position:absolute;
		top:420px;
		left:370px;
	}
	#catering{
		position:absolute;
		top:420px;
		left:714px;
	}
	.c{
		position:absolute;
		font-size:22px;
		font-family:verdana,geneva,sans-serif;
		color:#fff;
		top:550px;
	}
	#footer1{
		width:100%;
		height:150px;
		background:#3d3c42;
	}
	#b4{
		width:960px;
		height:150px;
		margin:0 auto;
		position:relative;
	}
	#b4 h2{
		position:absolute;
		font-size:30px;
		font-family:verdana,geneva,sans-serif;
		color:#fff;
		top:30px;
		left:20px;
		width:450px;
	}
	#b4 p{
		position:absolute;
		font-size:20px;
		font-family:verdana,geneva,sans-serif;
		color:#fff;
		top:80px;
		left:20px;
		width:450px;
		text-align:justify;
	}
	input[placeholder] { 
	background:#2f2929;
	float:right;
	border:#2f2929;
	width:250px;
	height:50px;
	font-size:18px;
	font-family:verdana,geneva,sans-serif;
	padding-left:40px;
	position:absolute;
	top:50px;
	left:530px;
	color:#fff;
	border-radius:3px;
	}
	button{
		position:absolute;
		width:150px;
		height:50px;
		background:#b30429;
		border:#b30429;
		top:50px;
		left:780px;
		border-radius:3px;
	}
	button a{
		text-decoration:none;
		font-size:20px;
		color:#fff;
	}
	#footer2{
		width:100%;
		height:100px;
		background:#000;
	}
	#content{
		position:relative;
		width:960px;
		height:100px;
		left:200px;
	}
	.copyright{
		position:absolute;
		left:35%;
		top:20px;
	}
	#content p{
		color:#fff;
		position:absolute;
		left:37%;
		top:20px;
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
	}
	#icon1{
		position:absolute;
		top:65px;
		left:42%;
	}
	#icon2{
		position:absolute;
		top:65px;
		left:45%;
	}
	#icon3{
		position:absolute;
		top:65px;
		left:48%;
	}
	#content span{
		color:#b30429;
	}
	
	