
body {
    background-image: url(./image/32.jpg);
    background-size: cover;
    background-position:center;
	height:800px;
	position:relative; 
	text-align:center; 
	color:white;
	opacity:0.9;
	z-index:2px;
	font-family: sans-serif;
h1 {
text-align: center;
color:purple;
font-family: serif;
font-weight: normal;
text-transform: uppercase;
border-bottom: 0px solid grey;
margin-top: 30px;
}
h2 {
text-align:center;
font-family: Apple chancery,cursive;
color: gold;
font-size: 2em;
margin-top:20px;
}
h3{
text-align:center;
font-family: Apple chancery,cursive;
color: gold;
font-size: 2em;
margin-top:20px;
}
h4{
text-align:center;
font-family: Apple chancery,cursive;
color: gold;
font-size: 2em;
margin-top:20px;
}
h5{
text-align:center;
font-family: Apple chancery,cursive;
color: gold;
font-size: 2em;
margin-top:20px;
}
h6{	
text-align:center;
font-family: Apple chancery,cursive;
color: gold;
font-size: 2em;
margin-top:20px;
}
image{
width:60px;
height:60px;
}
p{
	text-align:center;
	font-family:Apple chancery,cursive;
	font-size:15px;
	}