#nav {
	width:600px;
	margin:10px;
	padding:none;
	list-style: none;
	overflow:hidden;
	background-color:purple;
	border-bottom: 2px solid #ccc; 
	border-top: 2px solid #ccc; 
	border-radius:5px;
}
 
 #nav li {
	float: left; 
	}
 #nav li a {
	display:block;
	padding: 8px 15px;
	text-align:center;
	text-decoration: none;
	color: none; 
	border-left: 400px;
	border-right:1px solid;
	border-radius:5px solid;
	background-color:none;
	}
 #nav li a:hover {
	color: gold;
	align: center;
	}
header{
	margin:20px 50%;
	}

	