*{margin:0;padding:0;}
	div{border:2px; border-style:transparent; border-color:yellow;}
	
	#header1{
	width:100%;
	height:40px;
	background:#b30429;
	}
	#header_info{
	width:960px;
	margin:0 auto;
	height:40px;
	}
	#address{
	padding-top:10px;
	float:left;
	}
	#call{
	padding-top:10px;
	padding-left:30px;
	}
	#msg{
	padding-top:10px;
	padding-left:40px;
	}
	#header_info span{
	font-size:12px;
	color:#fff;
	font-family:verdana,geneva,sans-serif;
	line-height:40px;
	}
	#icons{
	float:right;
	overflow:hidden;
	width:250px;
	height:37px;
	}
	.image-holder{
	float:right;
	margin:5 0 5 5;
	}
	#header2{
		position:relative;
		background:#1d2027;
		height:100px;
	}
	.logo{
	position:absolute;
	top:-15px;
	left:150px;
	width:20%;
	height:130%;
	}
	#spoon{
	position:absolute;
	top:25px;
	left:325px;
	}
	#menu_bar{
		position:absolute;
		width:753px;
		height:100px;
		right:81px;
		top:40px;
	}
	#menu_bar li{
		display:inline;
		margin-right:30px;
	}
	#menu_bar li a{
		text-decoration:none;
		color:#fff;
		padding:10px;
		border-radius:5px;
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
	}
	#menu_bar li a:hover{
		background:#b30429;
	}
	#body{
		position:relative;
		width:960px;
		height:1870px;
		left:200px;
		font-family:verdana,geneva,sans-serif;
	}
	#para1{
		color:#000;
		font-size:18px;
		position:absolute;
		top:20px;
	}
	#para1 a{
		text-decoration:none;
	}
	#para1 a:hover{
		color:#b30429;
	}
	#para2{
		position:absolute;
		top:90px;
		left:330px;
		font-size:28px;
	}
	#para3{
		position:absolute;
		top:160px;
		left:185px;
		font-size:17px;
	}
	#para4{
		position:absolute;
		top:200px;
		left:60px;
		font-size:16px;
	}
	#pic1{
		position:absolute;
		top:320px;
	}
	#pic2{
		position:absolute;
		top:320px;
		left:260px;
	}
	#pic3{
		position:absolute;
		top:320px;
		right:0px;
	}
	#pic4{
		position:absolute;
		top:680px;
	}
	#pic5{
		position:absolute;
		top:680px;
		left:260px;
	}
	#pic6{
		position:absolute;
		top:640px;
		right:0px;
	}
	#pic7{
		position:absolute;
		top:1040px;
	}
	#pic8{
		position:absolute;
		top:1040px;
		left:260px;
	}
	#pic9{
		position:absolute;
		top:980px;
		right:120px;
	}
	#para5{
		position:absolute;
		top:1300px;
		left:60px;
		font-size:20px;
	}
	#para6{
		position:absolute;
		top:1350px;
		left:100px;
		font-size:17px;
	}
	#box{
		position:absolute;
		width:904px;
		height:400px;
		background:#f1f2e6;
		top:1410px;
		left:30px;
	}
	#para7{
		position:absolute;
		top:40px;
		left:70px;
		font-size:20px;
	}
	#name{
		position:absolute;
		width:350px;
		height:50px;
		left:70px;
		top:75px;
		border-color:#fff;
	}
	#para8{
		position:absolute;
		top:40px;
		left:450px;
		font-size:20px;
	}
	#number{
		position:absolute;
		width:350px;
		height:50px;
		left:450px;
		top:75px;
		border-color:#fff;
	}
	#para9{
		position:absolute;
		top:150px;
		left:70px;
		font-size:20px;
	}
	#time{
		position:absolute;
		width:730px;
		height:90px;
		left:70px;
		top:185px;
		border-color:#fff;
	}
	#box a{
		position:absolute;
		text-decoration:none;
		color:#fff;
		font-size:20px;
		top:310px;
		left:350px;
		background:#b30429;
		padding:15 40 15 40;
		border-radius:5px;
	}
#footer2{
		width:100%;
		height:100px;
		background:#000;
	}
	#content{
		position:relative;
		width:960px;
		height:100px;
		left:200px;
	}
	.copyright{
		position:absolute;
		left:35%;
		top:20px;
	}
	#content p{
		color:#fff;
		position:absolute;
		left:37%;
		top:20px;
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
	}
	#icon1{
		position:absolute;
		top:65px;
		left:42%;
	}
	#icon2{
		position:absolute;
		top:65px;
		left:45%;
	}
	#icon3{
		position:absolute;
		top:65px;
		left:48%;
	}
	#content span{
		color:#b30429;
	}